@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap");

:root {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  color: var(--white);
  --main-bg: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
}
* {
  box-sizing: border-box;
  padding:0;
  margin:0;
  list-style:none;
  text-decoration:none;
  color:white;
}

body {
  height:100vh;
  background-color: var(--main-bg);
  display:flex;
  justify-content:center;
  align-items:center;
}

.container {
  min-height:70vh;
  max-height:90vh;
  min-width:370px;
  max-width:1400px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.card {
  min-width:22rem;
  max-width:25rem;
  min-height:20rem;
  max-height:25rem;
  padding: 25px;
  border-radius: 5px;
  display:flex;
  flex-direction:column;
  background-color: var(--DarkBlue);
  display:block;
  opacity:1;
  transition:0.7s;
}

.card.close {
  display:none;
}
.card.close.transition{
  opacity:0;
}

.card > img {
  min-width:10%;
  max-width:15%;
  padding: 10px;
  background-color: hsl(216, 12%, 27%);
  border-radius: 20px;
}

h1 {
  margin-bottom: 1px;
}

p {
  color: var(--lightGrey);
  padding:10px;
}

.rating {
  display:flex;
  justify-content: center;
  gap:10px;
  color: var(--lightGrey);
}

.rating a {
  max-width:7rem;
  padding:8px;
  border-radius:20px;
  border:0;
  font-size:20px;
  text-align:center;
  background-color: hsl(216, 12%, 27%);
  transition: 0.9s;
}

.rating a:hover {
  background-color: var(--orange);
  color: var(--white);
  cursor:pointer;
}

.rating a:focus {
  background-color: var(--lightGrey);
}

.submit {
  border: 0;
  background-color: var(--orange);
  color: var(--white);
  width: 90%;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  align-self:center;
  text-transform: uppercase;
  transition: 0.7s ease;
}

.submit:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor:pointer;
}

#dialog {
  min-height: 20rem;
  max-width: 30rem;
  background-color: var(--DarkBlue);
  position:relative;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  text-align: center;
  display:none;
  opacity:0;
  transition:0.7s;
}
#dialog.active {
  display: block;
}

#dialog.active.transition {
  opacity: 1;
}

#dialog::backdrop {
  background-color: var(--main-bg);
}

.attribution {
  font-size:17px;
}

.attribution a {
  color:purple;
}